#root {
  margin: 0 auto;
  text-align: center;
}

body {
  padding: 1rem;
}


.Main-content {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  gap: 2rem;
}

.Main-content input {
  padding: 4px 8px;
}
@media (min-width: 768px) {
  body {
      padding: 2rem;
  }
}
